.gv_bg_dim {background-color:#1b1b1b!important}
.gv_bg0 {background-color:#282828}
.gv_bg1, .gv_bg2, .gv_bg_statusline1 {background-color:#32302f!important}
.gv_bg_statusline2 {background-color:#3a3735!important}
.gv_bg_statusline3 {background-color:#504945!important}
.gv_bg_diff_green {background-color:#34381b!important}
.gv_bg_visual_green {background-color:#3b4439!important}
.gv_bg_diff_red {background-color:#402120!important}
.gv_bg_visual_red {background-color:#4c3432!important}
.gv_bg_diff_blue {background-color:#0e363e!important}
.gv_bg_visual_blue {background-color:#374141!important}
.gv_bg_visual_yellow {background-color:#4f422e!important}
.gv_bg_current_word {background-color:#3c3836!important}
.gv_fg0 {color:#d4be98!important}
.gv_fg1 {color:#ddc7a1!important}
.gv_red {color:#ea6962!important}
.gv_orange {color:#e78a4e!important}
.gv_yellow {color:#d8a657!important}
.gv_green {color:#a9b665!important}
.gv_aqua {color:#89b482!important}
.gv_blue {color:#7daea3!important}
.gv_purple {color:#d3869b!important}
.gv_bg_red {background-color:#ea6962!important}
.gv_bg_green {background-color:#a9b665!important}
.gv_bg_yellow {background-color:#d8a657!important}
.gv_grey0 {color:#7c6f64!important}
.gv_grey1 {color:#928374!important}
.gv_grey2 {color:#a89984!important}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }